:root{
    font-family: 'Roboto', sans-serif;;
}
li{
    width: 10%;
    list-style: none;
    text-align: right;
}

li :hover{
        background-color: rgb(230, 69, 69);
       
    }

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

.imagenes {
    width: 100%;
    margin: auto;
    display: block;
}

.center{
    text-align: center;
}

li > a:active:before {
    background-color: blue;
}
#tabla{
    border: 1px solid red;
    padding: 1rem 2rem;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}

/* Agregue esto para centrar la tabla*/
div.center table{
    margin: 0 auto;
    text-align: left;
}
